<div class="w-screen sm:w-96 h-max shadow bg-white">
  <p class="w-full text-center bg-primary text-white font-bold text-2xl h-12 flex items-center justify-center">Create Account</p>
  <div class="h-full w-full py-3 px-6">
    <mat-form-field class="w-full">
      <mat-label>
        Username
      </mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        Password
      </mat-label>
      <input type="password" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        Confirm Password
      </mat-label>
      <input type="password" matInput [errorStateMatcher]="passwordMatcher" [formControl]="registrationFormControl">
      <mat-error *ngIf="!registrationFormControl.hasError('required')">Error</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        Email
      </mat-label>
      <input type="email" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>
        Birth Date
      </mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="px-6 py-5 flex justify-between">
    <button mat-flat-button color="basic" (click)="toLoginMode()">
      Login
    </button>

    <button mat-raised-button color="primary">
      Register
    </button>
  </div>


</div>
